.container {
  display: flex;
  flex-direction: column;
  background-color: #f1f2f5;
  min-height: calc(100vh - 64px);
}

.content-wrapper {
  flex: auto;
  padding: 20px;
}

// 在原有样式基础上新增
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content {
  display: flex;
  margin: 0 24px;
  min-height: calc(100vh - 64px - 20px * 2);
  .left {
    width: 350px;
  }
  .main {
    flex: 1;
    margin-left: 24px;
    padding: 12px 18px;
    background-color: #fff;
  }
  .right {
    width: 400px;
    margin-left: 24px;
    padding: 12px 18px;
    background-color: #fff;
    overflow: hidden;
  }
}